# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on One-to-Many and Many-to-many relationships!

## Objectives

You will be able to:
- Query data including Many-to-Many relationships
- Write queries that make use of Join Tables

## One-to-Many and Many-to-Many Joins
<img src='Database-Schema.png' width=550>

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [2]:
#Your code here

import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

In [3]:
cur.execute("""select customers.contactFirstName, customers.contactLastName, customers.city, customers.state  from customers
                        join employees
                        on (customers.salesRepEmployeeNumber = employeeNumber);""")
df = pd.DataFrame(cur.fetchall())
print('Number of results', len(df))
df.head()

Number of results 100

         0           1          2         3
0  Carine      Schmitt     Nantes
1     Jean        King  Las Vegas        NV
2    Peter    Ferguson  Melbourne  Victoria
3  Janine      Labrune     Nantes
4   Jonas   Bergulfsen    Stavern

## Customers and their Orders (a One-to-Many join)

Return a list of all of the customers. For each customer return a record for each of their order numbers, order dates and statuses.

In [7]:
customer_order = cur.execute("""
SELECT customers.customerName, orders.orderDate, orders.orderNumber, orders.status FROM customers
JOIN orders
USING(customerNumber);""")

In [8]:
df1 = pd.DataFrame(customer_order.fetchall())

In [9]:
df1

                                  0           1      2           3
0                 Atelier graphique  2003-05-20  10123     Shipped
1                 Atelier graphique  2004-09-27  10298     Shipped
2                 Atelier graphique  2004-11-25  10345     Shipped
3                Signal Gift Stores  2003-05-21  10124     Shipped
4                Signal Gift Stores  2004-08-06  10278     Shipped
5                Signal Gift Stores  2004-11-29  10346     Shipped
6        Australian Collectors, Co.  2003-04-29  10120     Shipped
7        Australian Collectors, Co.  2003-05-21  10125     Shipped
8        Australian Collectors, Co.  2004-02-20  10223     Shipped
9        Australian Collectors, Co.  2004-11-24  10342     Shipped
10       Australian Collectors, Co.  2004-11-29  10347     Shipped
11                La Rochelle Gifts  2004-07-23  10275     Shipped
12                La Rochelle Gifts  2004-10-29  10315     Shipped
13                La Rochelle Gifts  2005-02-03  10375     Shipped
14                La Rochelle Gifts  2005-05-31  10425  In Process
15               Baane Mini Imports  2003-01-29  10103     Shipped
16               Baane Mini Imports  2003-10-10  10158     Shipped
17               Baane Mini Imports  2004-10-15  10309     Shipped
18               Baane Mini Imports  2004-11-05  10325     Shipped
19     Mini Gifts Distributors Ltd.  2003-03-26  10113     Shipped
20     Mini Gifts Distributors Ltd.  2003-07-02  10135     Shipped
21     Mini Gifts Distributors Ltd.  2003-08-08  10142     Shipped
22     Mini Gifts Distributors Ltd.  2003-11-12  10182     Shipped
23     Mini Gifts Distributors Ltd.  2004-03-11  10229     Shipped
24     Mini Gifts Distributors Ltd.  2004-07-20  10271     Shipped
25     Mini Gifts Distributors Ltd.  2004-08-20  10282     Shipped
26     Mini Gifts Distributors Ltd.  2004-10-21  10312     Shipped
27     Mini Gifts Distributors Ltd.  2004-11-19  10335     Shipped
28     Mini Gifts Distributors Ltd.  2004-12-10  10357     Shipped
29     Mini Gifts Distributors Ltd.  2005-01-19  10368     Shipped
..                              ...         ...    ...         ...
296                 Microscale Inc.  2004-04-20  10242     Shipped
297                 Microscale Inc.  2004-11-03  10319     Shipped
298      Corrida Auto Replicas, Ltd  2003-05-28  10126     Shipped
299      Corrida Auto Replicas, Ltd  2004-01-26  10214     Shipped
300      Corrida Auto Replicas, Ltd  2004-11-01  10348     Shipped
301                FunGiftIdeas.com  2003-10-21  10166     Shipped
302                FunGiftIdeas.com  2004-11-04  10321     Shipped
303                FunGiftIdeas.com  2005-03-03  10388     Shipped
304    Australian Collectables, Ltd  2003-11-21  10193     Shipped
305    Australian Collectables, Ltd  2004-07-02  10265     Shipped
306    Australian Collectables, Ltd  2005-05-09  10415    Disputed
307              Frau da Collezione  2003-10-09  10157     Shipped
308              Frau da Collezione  2004-02-09  10218     Shipped
309     West Coast Collectables Co.  2003-12-01  10199     Shipped
310     West Coast Collectables Co.  2004-01-29  10215     Shipped
311      Iberia Gift Imports, Corp.  2003-11-14  10184     Shipped
312      Iberia Gift Imports, Corp.  2004-10-06  10303     Shipped
313    Motor Mint Distributors Inc.  2003-03-10  10109     Shipped
314    Motor Mint Distributors Inc.  2004-04-03  10236     Shipped
315    Motor Mint Distributors Inc.  2004-11-17  10331     Shipped
316        Signal Collectibles Ltd.  2003-09-12  10149     Shipped
317        Signal Collectibles Ltd.  2004-02-10  10219     Shipped
318  Double Decker Gift Stores, Ltd  2003-11-14  10186     Shipped
319  Double Decker Gift Stores, Ltd  2004-01-22  10213     Shipped
320            Diecast Collectables  2003-12-09  10207     Shipped
321            Diecast Collectables  2004-04-26  10243     Shipped
322               Kelly's Gift Shop  2003-07-07  10138     Shipped
323               Kelly's Gift Shop  2003-11-11  10179   Cancelled
324               Kelly's Gift Shop  2004-12-16  10360     Shipped
325               Kelly's Gift Shop  2005-04-01  10399     Shipped

[326 rows x 4 columns]

## Orders and their Order Details (another One-to-Many join)

Return a list of orders. For each order return a record for each order detail within the order.

In [3]:
# Your code here

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of the orders with the the order information, and all the product information for each product in the order.

In [4]:
# Your code here

## Summary

In this lab, you practiced your knowledge on One-to-Many and Many-to-many relationships!