# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on One-to-Many and Many-to-many relationships!

## Objectives

You will be able to:
- Query data including Many-to-Many relationships
- Write queries that make use of Join Tables

## One-to-Many and Many-to-Many Joins
<img src='Database-Schema.png' width=550>

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [16]:
#Your code here

import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

In [17]:
cur.execute("""select customers.contactFirstName, customers.contactLastName, customers.city, customers.state  from customers
                        join employees
                        on (customers.salesRepEmployeeNumber = employeeNumber);""")
df = pd.DataFrame(cur.fetchall())
print('Number of results', len(df))
df.head()

Number of results 100

         0           1          2         3
0  Carine      Schmitt     Nantes
1     Jean        King  Las Vegas        NV
2    Peter    Ferguson  Melbourne  Victoria
3  Janine      Labrune     Nantes
4   Jonas   Bergulfsen    Stavern

## Customers and their Orders (a One-to-Many join)

Return a list of all of the customers. For each customer return a record for each of their order numbers, order dates and statuses.

In [18]:
customer_order = cur.execute("""
SELECT customers.customerName, orders.orderDate, orders.orderNumber, orders.status FROM customers
JOIN orders
USING(customerNumber);""")

In [19]:
df1 = pd.DataFrame(customer_order.fetchall())

In [20]:
df1.head()

                    0           1      2        3
0   Atelier graphique  2003-05-20  10123  Shipped
1   Atelier graphique  2004-09-27  10298  Shipped
2   Atelier graphique  2004-11-25  10345  Shipped
3  Signal Gift Stores  2003-05-21  10124  Shipped
4  Signal Gift Stores  2004-08-06  10278  Shipped

## Orders and their Order Details (another One-to-Many join)

Return a list of orders. For each order return a record for each order detail within the order.

In [21]:
orders_and_details = cur.execute("""
SELECT * FROM orders
JOIN orderDetails
USING(orderNumber);





""")

In [22]:
df2 = pd.DataFrame(orders_and_details.fetchall())

In [23]:
df2

,0,1,2,3,4,5,6,7,8,9,10
0,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363,S18_1749,30,136.00,3
1,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363,S18_2248,50,55.09,2
2,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363,S18_4409,22,75.46,4
3,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363,S24_3969,49,35.29,1
4,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128,S18_2325,25,108.06,4
5,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128,S18_2795,26,167.06,1
6,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128,S24_1937,45,32.53,3
7,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128,S24_2022,46,44.35,2
8,10102,2003-01-10,2003-01-18,2003-01-14,Shipped,,181,S18_1342,39,95.55,2
9,10102,2003-01-10,2003-01-18,2003-01-14,Shipped,,181,S18_1367,41,43.13,1
10,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S10_1949,26,214.30,11
11,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S10_4962,42,119.67,4
12,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S12_1666,27,121.64,8
13,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S18_1097,35,94.50,10
14,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S18_2432,22,58.34,2
15,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S18_2949,27,92.19,12
16,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S18_2957,35,61.84,14
17,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S18_3136,25,86.92,13
18,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S18_3320,46,86.31,16
19,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S18_4600,36,98.07,5
20,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S18_4668,41,40.75,9
21,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S24_2300,36,107.34,1
22,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S24_4258,25,88.62,15
23,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S32_1268,31,92.46,3
24,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S32_3522,45,63.35,7
25,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S700_2824,42,94.07,6
26,10104,2003-01-31,2003-02-09,2003-02-01,Shipped,,141,S12_3148,34,131.44,1
27,10104,2003-01-31,2003-02-09,2003-02-01,Shipped,,141,S12_4473,41,111.39,9
28,10104,2003-01-31,2003-02-09,2003-02-01,Shipped,,141,S18_2238,24,135.90,8
29,10104,2003-01-31,2003-02-09,2003-02-01,Shipped,,141,S18_2319,29,122.73,12
...,...,...,...,...,...,...,...,...,...,...,...
2966,10420,2005-05-29,2005-06-07,,In Process,,282,S24_3432,26,104.94,12
2967,10420,2005-05-29,2005-06-07,,In Process,,282,S24_3969,15,35.29,3
2968,10421,2005-05-29,2005-06-06,,In Process,Custom shipping instructions were sent to ware...,124,S18_2795,35,167.06,1
2969,10421,2005-05-29,2005-06-06,,In Process,Custom shipping instructions were sent to ware...,124,S24_2022,40,44.80,2
2970,10422,2005-05-30,2005-06-11,,In Process,,157,S18_1342,51,91.44,2
2971,10422,2005-05-30,2005-06-11,,In Process,,157,S18_1367,25,47.44,1
2972,10423,2005-05-30,2005-06-05,,In Process,,314,S18_2949,10,89.15,1
2973,10423,2005-05-30,2005-06-05,,In Process,,314,S18_2957,31,56.21,3
2974,10423,2005-05-30,2005-06-05,,In Process,,314,S18_3136,21,98.44,2
2975,10423,2005-05-30,2005-06-05,,In Process,,314,S18_3320,21,80.36,5
2976,10423,2005-05-30,2005-06-05,,In Process,,314,S24_4258,28,78.89,4
2977,10424,2005-05-31,2005-06-08,,In Process,,141,S10_1949,50,201.44,6
2978,10424,2005-05-31,2005-06-08,,In Process,,141,S12_1666,49,121.64,3
2979,10424,2005-05-31,2005-06-08,,In Process,,141,S18_1097,54,108.50,5
2980,10424,2005-05-31,2005-06-08,,In Process,,141,S18_4668,26,40.25,4
2981,10424,2005-05-31,2005-06-08,,In Process,,141,S32_3522,44,54.94,2
2982,10424,2005-05-31,2005-06-08,,In Process,,141,S700_2824,46,85.98,1
2983,10425,2005-05-31,2005-06-07,,In Process,,119,S10_4962,38,131.49,12
2984,10425,2005-05-31,2005-06-07,,In Process,,119,S12_4473,33,95.99,4
2985,10425,2005-05-31,2005-06-07,,In Process,,119,S18_2238,28,147.36,3
2986,10425,2005-05-31,2005-06-07,,In Process,,119,S18_2319,38,117.82,7
2987,10425,2005-05-31,2005-06-07,,In Process,,119,S18_2432,19,48.62,10
2988,10425,2005-05-31,2005-06-07,,In Process,,119,S18_3232,28,140.55,8
2989,10425,2005-05-31,2005-06-07,,In Process,,119,S18_4600,38,107.76,13
2990,10425,2005-05-31,2005-06-07,,In Process,,119,S24_1444,55,53.75,1
2991,10425,2005-05-31,2005-06-07,,In Process,,119,S24_2300,49,127.79,9
2992,10425,2005-05-31,2005-06-07,,In Process,,119,S24_2840,31,31.82,5
2993,10425,2005-05-31,2005-06-07,,In Process,,119,S32_1268,41,83.79,11
2994,10425,2005-05-31,2005-06-07,,In Process,,119,S32_2509,11,50.32,6
2995,10425,2005-05-31,2005-06-07,,In Process,,119,S50_1392,18,94.92,2

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of the orders with the the order information, and all the product information for each product in the order.

In [4]:
# Your code here

## Summary

In this lab, you practiced your knowledge on One-to-Many and Many-to-many relationships!